body{
    background-color: #34C7A0;
    text-align: center;
}
.header{
    background-color: white;
    width:370px;
    margin: 0 auto;
    border-radius: 20px;
}
.header h2{
    color: #00B6A3;
    font-size: 34pt;
    padding: 24pt 151pt 53pt 27pt;
}
.header span{
    color: #898694;
    font-size: 16pt;
    padding: 74pt 125pt 24pt 27pt;
}